body{
	margin:0;
	padding:0;
	background:linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url('1.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	color: #fff;
	font-family: 'lato',sans-serif;
}
.main{
	position: absolute;
	height: auto;
	width: 80%;
	margin:auto auto;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.main h1{
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
	font-size: 3.5em;
	font-weight: 700;
	letter-spacing: 5px;
}
.main h1 div{
	margin: 0;
	position: relative;
	height: auto;
	width: auto;
	height: 65px;
	z-index: -1;
	color: #3498db;
	overflow: hidden;
	text-align: center;
}
/*.main h1 div::before{
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	top: 0;
	left: -100%;
	background:#fff;
	z-index: 1;
	animation:animatebefore 1.5s linear infinite;
	transition:0.7s linear;
	transition-delay: 0.7s;
}
@keyframes animatebefore{
	0%{
		left:-100%;
		background:#fff;
	}
	100%{
		left: 100%;
	}
}*/
.main h1 div ul{
	margin:0 0.5%;
	padding:0;
	width: auto;
	text-align: left;
	animation:animate 8s linear infinite;
}
@keyframes animate{
	0%{
		transform: translateY(0px);
	}
	30%{
		transform: translateY(0px);
	}
	40%{
		transform: translateY(-65px);
	}
	65%{
		transform: translateY(-65px);	
	}
	75%,100%{
		transform: translateY(-130px);	
	}
}
.main h1 div ul li{
	list-style-type: none;
	height: 65px;
	width: auto;
}
.main p{
	position: relative;
	font-size: 1.5em;
	font-weight: 500;
	color: #ff0;
	letter-spacing: 2px;
	margin-left:-5%;

}