@font-face {
	font-family: 'Lato-Bold';
	src: url('../font/lato/Lato-Bold.ttf');
}

@font-face {
	font-family: 'Archive-Regular';
	src: url('../font/archive/Archive-Regular.ttf');
}

nav.navbar {
	background: linear-gradient(180deg,rgba(0,0,0,.3),transparent);
}

ul.nav {
	font-family: 'Lato-Bold', sans-serif;
	font-size: 13px;
}

.nav-text {
	color: white;
}

a.nav-link {
	padding: 10px;
}

.logo {
	width: 80px;
}

.carousel-item img {
	height: 100vh;
}

.menu-text {
	margin: 0;
}

.side-nav {
	width: 12rem;
}

.side-nav .collapsible a {
	height: 36px;
	line-height: 36px;
	font-size: 11px;
	color: #888;
	border-bottom: 1px solid #ddd;
	font-family: 'Lato-Bold';
	background: white;
}

.side-nav .collapsible a:hover {
	color: #888;
}

.side-nav a {
	height: 36px;
	line-height: 36px;
	font-size: 11px;
	color: #888;
	border-bottom: 1px solid #ddd;
	font-family: 'Lato-Bold';
}

.side-nav p {
	display: block;
	font-size: 12.8px;
	height: 36px;
	line-height: 36px;
	padding-left: 20px;
	margin: 0;
	color: #888;
	background: #f7f9fd;
	border-bottom: 1px solid #ddd;
}

.carousel-item img {
	filter: brightness(50%);
}

.carousel-text {
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.carousel-text h1 {
	font-size: 5rem;
	color: white;
	font-family: 'Archive-Regular', Lato-Bold;
	text-align: center;
	text-shadow: 4px -4px 0 rgba(0,0,0,.6);
}

.form-search {
	display: none;
	z-index: 9999;
	height: 100vh;
	background: rgba(0,0,0,.8);
}

.form-search .card {
	border-radius: 10px;
}

.form-search .card-body {
	padding: 10px 20px;
}

.form-search .form-control {
	border-radius: 10px;
}

@media (min-width: 300px) and (max-width: 993px) {
	.logo {
		width: 70px;
		padding: 5px 0;
	}
}